################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S3ProxySvc/.vs/S3ProxySvc
